*{
    font-family:Arial, Helvetica, sans-serif
}
.containerGridAndRestart {
    display: flex;
    flex-direction: column;
}
.containerTitle {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 90px;
    color: #eb0076;
    text-shadow:  5px 4px #0700df;
}
.containerButton {
    display: flex;
    justify-content: center;
}
button {
    height: 45px;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
}
#restart:active { 
     background-color: #8e893e; 
     box-shadow: 0 7px 20px#0700df; 
     transform: translateY(10px); 
     transform: translateX(10px); 
    } 
.containerGrid {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px)
}
.grid > div {
    display: grid;
    background-color: #eb0076;
    border-radius: 10px;
    padding: 10px;
    place-items: center;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0700df;
}
.containerRestart{
    display: flex;
    margin-top: 40px;
    margin-left: 716px;
}
#restart {
    background: linear-gradient(to right,  #eb0076 0%,#0700df  100%);
    color:#f8f8f8;
    font-weight: bold;
}
 #playGame {
    height: 60px;
    width: 130px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(to right,  #eb0076 0%,#0700df  100%);
    color:#f8f8f8;
}
